! -------------- Includes -------------------------
#include "dotfiles/.config/xfiles/themes/solarized-dark"
#include "dotfiles/.config/xfiles/colors"
#include "dotfiles/.config/xfiles/urxvt"

! -------------- fonts variables -------------------
#define fnt1     hack
#define fntsz1   12

! ------- Resources ----------
Theme.bg1:          bg
Theme.bg2:          bg
Theme.fg1:          fg
Theme.fg2:          white
Theme.redish:       red
Theme.accent:       cyan
Theme.adarker:      black ! darker accent
Theme.transparent:  transparent
Theme.font1:        fnt1
Theme.fontsize1:    fntsz1




